<%= stylesheet_link_tag "users" %>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>users</title>
</head>
<body>
  <main id ="container">

    <% if user_signed_in? %> 
     <%=render @users %>
     <%else%> 
       <%=link_to new_user_session_path do%>
        <button>Sign in</button>
      <%end%>  
    <%end%>  
  </main>  
</body>
</html>