<%= stylesheet_link_tag "views" %>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>specific user</title>
</head>
<body>
  <h1>Here are information about specific user</h1>
</body>
</html>